<img src="/assets/img/burger-logo.png" alt="burger-logo">

<h1>Eat-da-Burger</h1>
<br>
<hr>
<div class="container">
<div class="row">
  <div class="col-md-6">
<ul>
  {{#each burgers}}
    {{#unless devoured }}
      {{> burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<hr>
<div class="col-md-6">
  <h2>Devoured</h2>
<ul id="devourIt">
  {{#each burgers}}
    {{#if devoured }}
     <li> {{ this.burger_name }} </li> 
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
<hr>
<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <input type="text" class="brgr" name="name">
  </div>

  <button id="submitbtn" type="submit">Submit</button>

</form>
</div>
