<img src="/assets/img/burger-logo.png" alt="burger-logo">

<h2>If you dream it, we can create it!</h2>
<hr>
<ul>
  {{#each burgers}}
    {{#unless devoured }}
      {{> burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured }}
      {{> burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
<hr>

<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="brgr">Burger:</label>
    <input type="text" class="brgr" name="name">
  </div>

  <button type="submit">Submit</button>

</form>

