* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(../img/background.jpg);
    width: 100vw;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-variant: small-caps;
    font-stretch: extra-expanded;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;

}

h2 {
    font-size: 30px;
    font-variant: small-caps;
    font-stretch: extra-expanded;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;

}

img {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

ul {
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    justify-content: center;
    width: 45vw;
    height: 3rem;
    margin: 15px;
    padding-left: 30px;
    background-image: linear-gradient(gray, whitesmoke);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

hr {
    width: 100vw;
    color: whitesmoke;
    height: 1px;
    opacity: 60%;
    margin: 10px 0px;
}

li {
    margin: 5px 0px;
    padding: 2px 0px;
}

.change-devour {
    border-radius: 13px;
    background-image: linear-gradient(rgb(175, 114, 2), orange);
    color: black;
    border-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 3px;
    padding: 8px;
}

#submitbtn {
    width: 100px;
    border-radius: 13px;
    background-image: linear-gradient(darkgray, white, lightgray);
    color: black;
    border-color: gray;
    box-shadow: 2px 2px 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    margin: 4px;
    padding: 12px;   
}

#devourIt {
    color: burlywood;
    opacity: 80%;
    font-size: 24px;
    font-style: oblique;

}