* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(../img/background.jpg);
    width: 100vw;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    align-content: center;
    text-align: center;
}

button {
    border-radius: 30px;
    background-image: linear-gradient(rgb(175, 114, 2), orange);
    color: black;
    border-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 8px;
    padding: 8px;
}

img {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

ul {
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
