* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(../img/background.jpg);
    width: 100vw;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    align-content: center;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

ul {
    list-style: none;
    font-size: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    justify-content: center;
    width: 45vw;
    height: 4rem;
    margin: 5px;
    padding: 2px;
    background-image: linear-gradient(gray, whitesmoke);
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.change-burger {
    border-radius: 10px;
    background-image: linear-gradient(rgb(175, 114, 2), orange);
    color: black;
    border-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 3px;
    padding: 10px;
}

#submitbtn {
    width: 100px;
    border-radius: 10px;
    background-image: linear-gradient(darkgray, white, lightgray);
    color: black;
    border-color: gray;
    box-shadow: 2px 2px 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: bolder;
    margin: 4px;
    padding: 12px;   
}